.content{
   padding: 5rem 7%;
   text-align: center;
   font-family: 'Trap-Medium';
}

.content h3{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Trap-Bold';
    margin-bottom: 20px;
}

.content p{
    color: #707070;
    margin-bottom: 26px;
    font-size: 18px;
}

.content .imgBox {
    position: relative;
}

.content .imgBox img{
    width: 95%;
    border-radius: 15px;

}

.imgBox button{
   border: none;
   background-color: transparent;
}

.imgBox .btnShow{
    position: absolute;
    top: 20px;
    right: 5%;
    color: #fcfcfc;
    font-size: 17px;
    padding: 8px 12px;
    background-color: rgba(37, 37, 37, 0.4);
    border-radius: 8px;
    text-align: center;
}

.imgBox .btnVideo{
    position: absolute;
    top: 43%;
    left: 47%;
    color: #fcfcfc;
    font-size: 33px;
    padding: 15px 20px;
    background-color: rgba(37, 37, 37, 0.4);
    border-radius: 8px;
    text-align: center;
}


.content .details{
   width: 40%;
   margin: 3rem auto;
}

.details h4{
     font-size: 20px;
     font-weight: bold;
     color: #2F2C39;
     font-family: 'Trap-Bold';
}

.details h2{
   color: #0024B6;
    font-weight: bolder;
    font-size: 33px;
    font-family: serif;
}

.details hr{
   color: #000;
    margin: 2rem auto;
    width: 90%;
}

.details h6{
    font-size: 15px;
    font-weight: 600;
}

.details .drosos{
  width: 55%;
}

.details img{
   width: 35%;
}


@media screen and (max-width: 600px) {

    .content h3{
        font-size: 23px;
    }


    .content .details{
        width: 95%;
    }
}
