<div class="content">
    <h3>{{ 'howUse' | translate }}</h3>
    <p>{{ 'HowUseContent' | translate }}</p>

     <div class="imgBox">
        <!-- <img src="assets/images/Megawra.png">
        <button class="btnShow"><i class="fa-solid fa-expand"></i></button>
        <button class="btnVideo"><i class="fa-brands fa-youtube"></i></button> -->
        <iframe src="https://www.youtube.com/embed/1eUHl0ouDUo?si=O9-ZIaXHC3JZSFp0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     </div>

     <div class="details">
         <h4>{{'poweredBy'|translate}}</h4>
         <img *ngIf="lang=='en'" alt="drosos (...)" src="../../../assets/images/drosos.png" class="drosos">
         <img *ngIf="lang!='en'" alt="drosos (...)" src="../../../assets/images/drosos-ar.png" class="drosos">
         <hr>
         <h6>{{'designedBy'|translate}}</h6>
         <img src="assets/images/final-logo.png">
     </div>
</div>
