<div class="content">
    <div class="about-atlas">
        <h2>{{ 'contact' | translate }}</h2>
    </div>

    <div class="contactForm">
      <div class="left"></div>
      <div class="right"></div>

      
        <div class="box">
            <h4>{{ 'contactUsSubTitle' | translate }}</h4>
            
            <form>
                <div class="form-group mb-4 row borderBottom"> 
                  <div class="col-sm-1">
                    <label for="" class="form-label">{{ 'name' | translate }}</label>
                  </div>
                  <div class="col-sm-11">
                    <input type="text" class="form-control" id="">
                  </div>
                </div>
                <div class="form-group mb-4 row borderBottom"> 
                  <div class="col-sm-3">
                    <label for="" class="form-label">{{ 'phoneNumber' | translate }}</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="">
                  </div>
                </div>
                <div class="form-group mb-4 row borderBottom"> 
                  <div class="col-sm-1">
                    <label for="" class="form-label">{{ 'subject' | translate }}</label>
                  </div>
                    <div class="col-sm-11">
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group mb-4 row borderBottom"> 
                    <div class="col-sm-2">
                      <label for="" class="form-label">{{ 'email' | translate }}</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="">
                    </div>
                  </div>

                  <div class="form-group mb-4 row noPadding"> 
                    <div class="col-sm-1">
                      <label for="" class="form-label">{{ 'description' | translate }}</label>
                    </div>
                    <div class="col-sm-12">
                      <textarea rows="5" class="form-control" id=""></textarea>
                    </div>
                  </div>

                  <div class="form-group mb-4 row"> 
                    
                    <div class="col-sm-12 d-flex">
                        <div class="checkTerms">
                            <input type="checkbox" aria-label="Checkbox for following text input" class="inputCheck">
                        </div>
                      <p class="Termscontent">{{ 'contactContent' | translate }}</p>
                    </div>

                    <button>{{ 'submit' | translate }}</button>
                  </div>
            </form>
        </div>
    </div>
</div>