<div class="content">
    <div class="about-atlas">
        <h4>{{ 'about' | translate }}</h4>
        <h2>{{ 'egyHands' | translate }}</h2>
    </div>


    <div class="details">
        <div class="left"></div>
        <div class="right"></div>
        <div class="bottom"></div>

        <div class="textBox">
            <!-- <h3>{{ 'egyHandSubTitle' | translate }}</h3> -->
            <p> {{ 'egyHandContent1' | translate }}</p>

            <p>{{ 'egyHandContent2' | translate }}</p>
        </div>

        <div class="imgsBox">
            <img src="assets/images/Mask-group3.png" style="width: 72%;">
            <img src="assets/images/Mask-group.png" style="width: 23%;">
            <img src="assets/images/Mask-group1.png" style="width: 48%;">
            <img src="assets/images/Mask-group2.png" style="width: 48%;">
        </div>
    </div>
</div>
