.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 1000px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100% !important;
  height: 100% !important;
}
html[dir="rtl"]{
  .content{
    .indicators{
      right: unset !important;
      left: 7%;
    }
    .explore{
      right: 7%;
      left: unset !important;
      .explore-content{
        .crafts{
          .craft{
            .details{
              .type{
                ul{
                  li{
                    &::after{
                      right: -15px !important;
                      left: unset !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.content{
  .explore{
    position: absolute;
    top: 100px;
    left: 7%;
    background-color: #fff;
    width: 450px;
    border-radius: 7px;
    box-shadow: 0px 0 10px -5px #000;
    h2{
      text-align: center;
      font-weight: 600;
      margin-bottom: 15px;
      margin-top: 30px;
    }
    .tabs{
      display: flex;
      justify-content: space-between;
      padding: 0px 15px;
      button{
        color: #000;
        border: 1px solid #f77474;
        background-color: transparent;
        border-radius: 5px;
        padding: 7px 15px;
        font-size: 16px;
        cursor: pointer;
        &:first-of-type{
          margin-inline-end: 7px;
        }
        &.active{
          color: #fff;
          background-color: #f77474;
        }
      }
    }
    .explore-content{
      padding: 0px 15px 30px 15px;
      select{
        display: block;
        margin: 20px 0px;
        padding: 10px;
        border-radius: 7px;
        border: 1px solid #000;
        background-color: transparent;
        width: 100%;
        &:focus-visible{
          box-shadow: none;
          outline: none;
        }
      }
      .crafts{
        text-align: start;
        margin-top: 30px;
        max-height: 600px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-track {
          background: #fff;
        }
        &::-webkit-scrollbar-thumb {
          background: #0024B6;
        }
        .pagination{
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3{margin-bottom: 0px;}
          button{
            &:first-of-type{margin-inline-end: 7px;}
            background-color: transparent;
            border: none;
          }
        }
        .craft{
          display: flex;
          border-bottom: 1px solid #000;
          padding: 10px 0;
          &:last-of-type{
            border-bottom: none;
          }
          .craft-img{
            width: 140px;
          }
          .details{
            padding-inline-start: 15px;
            width: calc(100% - 140px);
            h5{
              margin-bottom: 5px;
              font-size: 17px;
              font-weight: 600;
            }
            p{
              margin-bottom: 5px;
              i{margin-inline-end: 7px;}
            }
            .type{
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              ul{
                margin-bottom: 0px;
                padding: 0 15px;
                list-style-type: none;
                li{
                  position: relative;
                  &::after{
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                    background-color: #f3a8c1;
                  }
                  &:nth-of-type(2){
                    &::after{
                      background-color: #caa044;
                    }
                  }
                  &:nth-of-type(3){
                    &::after{
                      background-color: #048869;
                    }
                  }
                }
              }
              a{
                color: #0024b6;
                cursor: pointer;
                text-decoration: none;
              }
            }
          }
        }
      }
      .actions{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        button{
          padding: 12px;
          font-size: 16px;
          width: 43%;
          border-radius: 7px;
          &.search{
            color: #fff;
            border: 1px solid #0024b6;
            background-color: #0024b6;
          }
          &.clear{
            background-color: transparent;
            color: #000;
            border: 1px solid #000;
          }
        }
      }
    }
  }
  .indicators{
    position: absolute;
    right: 7%;
    top: 100px;
    width: 320px;
    button{
      &#menu_Id{
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 7px;
        box-shadow: 0px 0 10px -5px #000;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          font-weight: 600;
          font-size: 18px;
          margin: 0 7px;
          display: block;
        }
        .bolts{
          width: 20px;
          div{
            div{
              width: 6px;
              height: 6px;
              border-radius: 50%;
              display: inline-block;
              margin: 2px;
              &.yellow{background-color: #E1FF8C;}
              &.orange{background-color: #F3A8C1;}
              &.green{background-color: #048869;}
              &.red{background-color: #CAA044;}
            }
          }

        }
      }
    }
    // indicators-menu style Inside styles.scss file
  }
}
.crafter-details{
  padding: 30px 15px;
  text-align: start;
  .back{
    display: flex;
    align-items: center;
    color: #0024B6;
    background-color: transparent;
    border: none;
    font-size: 18px;
    i{
      margin-inline-end: 10px;
    }
  }
  h3{
    font-size: 24px;
    margin: 20px 0;
    font-weight: 600;
  }
  .craft-info{
    display: flex;
    .craft-img{
      width: 150px;
      object-fit: cover;
    }
    .craft-about{
      width: calc(100% - 150px);
      padding-inline-start: 7px;
      h4{
        margin-bottom: 0;
        font-weight: 600;
      }
      span{
        color: rgba(69, 69, 69, 0.50);
        font-size: 12px;
      }
      h5{
        font-weight: 600;
        font-size: 14px;
        margin: 5px 0;
      }
      .location{
        margin: 0;
        color: #454545;
        font-weight: 100;
        font-size: 12px;
        i{font-weight: 600;}
      }
      .socials{
        margin: 7px 0;
        a{
          color: #000;
          margin-inline-end: 15px;
          &:last-of-type{
            margin-inline-end: 0px;
            cursor: pointer;
          }
        }
      }
      .actions{
        display: flex;
        justify-content: space-between;
        button{
          background-color: #0024B6;
          color: #fff;
          border: 1px solid #0024B6;
          border-radius: 7px;
          font-weight: 300;
          font-size: 14px;
          padding: 10px 25px;
          &.gallary{
            border-color: #F77474;
            color: #000;
            background-color: transparent;
          }
        }
      }
    }
  }
}
.brand-info{
  padding: 15px;
  text-align: start;
  background: rgba(0, 36, 182, 0.07);
  h3{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
  }
  .brand{
    padding: 10px 0;
    p{
      color: #454545;
      font-size: 16px;
      margin-bottom: 0px;
    }
    span{
      font-weight: 400;
      font-size: 11px;
      opacity: 0.5;
    }
  }
}
