<div class="mapouter">
    <div class="gmap_canvas">
      <div class="map-container" id="map" #map></div>
    </div>
    <div class="content">
      <div class="container">
        <div class="explore">
          <ng-container *ngIf="!crafterDetails">
            <h2>{{'explore_handcarafts'|translate}}</h2>
            <div class="tabs">
              <div>
                <button [ngClass]="{'active': showList=='search'}" (click)="showList='search';onResetAll()">{{'search' | translate}}</button>
                <button [ngClass]="{'active': showList=='filter'}" (click)="showList='filter';filter($event)"><i class="fa-solid fa-sliders"></i></button>
              </div>
              <button [ngClass]="{'active': showList=='crafts'}" (click)="showList='crafts'">{{'crafts_people_list' | translate}}</button>
            </div>
            <div class="explore-content">
              <ng-container *ngIf="showList=='search'">
                <select (change)="onFilterOption()" [(ngModel)]="filterModel.mainCraft">
                  <option [value]="null">Select Craft</option>
                  <option *ngFor="let craft of resultes?.mainCraft" [value]="craft">{{craft}}</option>
                </select>

                <select (change)="onFilterOption()" [(ngModel)]="filterModel.subCraft">
                  <option [value]="null">Select SubCraft</option>
                  <option *ngFor="let subCraft of resultes?.subCraft" [value]="subCraft">{{subCraft}}</option>
                </select>

                <select (change)="onFilterOption()" [(ngModel)]="filterModel.governorate">
                  <option [value]="null">Select City</option>
                  <option *ngFor="let city of resultes?.city" [value]="city">{{city}}</option>
                </select>

                <select (change)="onFilterOption()" [(ngModel)]="filterModel.heritage">
                  <option [value]="null">Select Heritage</option>
                  <option *ngFor="let heritage of resultes?.heritage" [value]="heritage">{{heritage}}</option>
                </select>

                <div class="actions">
                  <button class="search" (click)="onFilter()">{{'search' | translate}}</button>
                  <button class="clear" (click)="onResetAll()">{{'clear' | translate}}</button>
                </div>

              </ng-container>
              <ng-container *ngIf="showList=='filter'">
                <select (change)="filter()" [(ngModel)]="filterModel.mainCraft">
                  <option [value]="null">Select Craft</option>
                  <option *ngFor="let craft of filterObj?.mainCraft" [value]="craft">{{craft}}</option>
                </select>
                <select (change)="filter()" [(ngModel)]="filterModel.subCraft">
                  <option [value]="null">Select SubCraft</option>
                  <option *ngFor="let subCraft of filterObj?.subCraft" [value]="subCraft">{{subCraft}}</option>
                </select>
                <select (change)="filter()" [(ngModel)]="filterModel.governorate">
                  <option [value]="null">Select City</option>
                  <option *ngFor="let city of filterObj?.city" [value]="city">{{city}}</option>
                </select>
                <select (change)="filter()" [(ngModel)]="filterModel.heritage">
                  <option [value]="null">Select Heritage</option>
                  <option *ngFor="let heritage of filterObj?.heritage" [value]="heritage">{{heritage}}</option>
                </select>
                <select (change)="filter()" [(ngModel)]="filterModel.village">
                  <option [value]="null">Select Neighborhood</option>
                  <option *ngFor="let village of filterObj?.village" [value]="village">{{village}}</option>
                </select>
                <select (change)="filter()" [(ngModel)]="filterModel.employmentSize">
                  <option [value]="null">EmploymentSize</option>
                  <option *ngFor="let size of filterObj?.employmentSize" [value]="size">{{size}}</option>
                </select>
                <select (change)="filter()" [(ngModel)]="filterModel.market">
                  <option [value]="null">Market</option>
                  <option *ngFor="let market of filterObj?.market" [value]="market">{{market}}</option>
                </select>
                <select (change)="filter()" [(ngModel)]="filterModel.type">
                  <option [value]="null">Type</option>
                  <option *ngFor="let type of filterObj?.type" [value]="type">{{type}}</option>
                </select>
                <select (change)="filter()" [(ngModel)]="filterModel.rawMaterial">
                  <option [value]="null">Raw Material</option>
                  <option *ngFor="let raw of filterObj?.rawMaterial" [value]="raw">{{raw}}</option>
                </select>
                <div class="actions">
                  <button class="search" (click)="onFilter()">{{'search' | translate}}</button>
                  <button class="clear" (click)="filter($event)">{{'clear' | translate}}</button>
                </div>
              </ng-container>
              <ng-container *ngIf="showList=='crafts'">
                <div class="crafts">
                  <div class="pagination">
                    <h3>Crafts List</h3>
                    <!-- <div>
                      <button (click)="nextAndPrev('prev')"><i class="fa-solid fa-chevron-left"></i></button>
                      <button (click)="nextAndPrev('next')"><i class="fa-solid fa-chevron-right"></i></button>
                    </div> -->
                  </div>
                  <div class="craft" *ngFor="let item of sourceData">
                    <img class="craft-img" [alt]="item.basicInfo.brandName" src="../../assets/images/crafter-img.png">
                    <div class="details">
                      <h5>{{item.basicInfo.brandName}}</h5>
                      <p><i class="fa-solid fa-location-dot"></i>
                        {{item.basicInfo.address.village || 'Unknown'}}
                        {{item.basicInfo.address.district || 'Unknown'}}
                        {{item.basicInfo.address.governorate || 'Unknown'}}
                      </p>
                      <p><i class="fa-solid fa-people-group"></i>
                        {{ item.businessInfo.employmentSize || 'Unknown'}} .
                        {{item.businessInfo.type || 'Unknown'}}
                      </p>
                      <div class="type">
                        <ul>
                          <li *ngIf="item.businessInfo.heritage">{{ item.businessInfo.heritage || 'Unknown' }}</li>
                          <li *ngIf="item.businessInfo.product">{{ item.businessInfo.product || 'Unknown' }}</li>
                          <li *ngIf="item.businessInfo.rawMaterial">{{ item.businessInfo.rawMaterial || 'Unknown' }}</li>
                        </ul>
                        <a (click)="onOpenUserDetails(item)">
                          <i class="fa-solid fa-arrow-right"></i>
                          View Details
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="crafterDetails">
            <div class="crafter-details">
              <button class="back" (click)="closeUserDetails()">
                <i class="fa-solid fa-arrow-left"></i>
                {{'back' | translate}}
              </button>
              <h3>{{'craft_details'|translate}}</h3>
              <div class="craft-info">
                <img class="craft-img" alt="caft-img" src="../../assets/images/crafter-img.png">
                <div class="craft-about">
                  <h4>{{userDetailsInfo.basicInfo.handicrafterName || 'Unknown'}}</h4>
                  <span>{{userDetailsInfo.basicInfo.brandName || 'Unknown'}}</span>
                  <h5>{{'contact_info'| translate}}</h5>
                  <p class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    {{userDetailsInfo.basicInfo.address.district}} , {{userDetailsInfo.basicInfo.address.governorate}} , {{userDetailsInfo.basicInfo.address.village}}
                  </p>
                  <h5>{{'social_media'|translate}}</h5>
                  <div class="socials">
                    <a [href]="userDetailsInfo?.basicInfo.socialMedia.facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a [href]="userDetailsInfo?.basicInfo.socialMedia.twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a [href]="userDetailsInfo?.basicInfo.socialMedia.instagram"><i class="fa-brands fa-square-instagram"></i></a>
                    <a [href]="userDetailsInfo?.basicInfo.socialMedia.instagram"><i class="fa-brands fa-linkedin"></i></a>
                  </div>
                  <div class="actions">
                    <a routerLink="/contact-us">{{'get_contact'|translate}}</a>
                    <button class="gallary" (click)="onShowImagesModal()">{{'gallery'|translate}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="brand-info">
              <h3>{{'brand_information'|translate}}</h3>
              <div class="row">
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"handicrafterName" | translate}}</p>
                    <span>{{userDetailsInfo?.basicInfo.handicrafterName || 'Unknown'}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"structure"| translate}}</p>
                    <span>{{userDetailsInfo?.businessInfo.type || 'Unknown'}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"market" | translate}}</p>
                    <span>{{userDetailsInfo?.businessInfo.market || 'Unknown'}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"numberOfWorkers" | translate}}</p>
                    <span>{{userDetailsInfo?.businessInfo.employmentSize || 'Unknown'}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"heritage" | translate}}</p>
                    <span>{{userDetailsInfo?.businessInfo.heritage || 'Unknown'}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"mainCraft" | translate}}</p>
                    <span>{{userDetailsInfo?.businessInfo.mainCraft || 'Unknown'}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"subCraft" | translate}}</p>
                    <span>{{userDetailsInfo?.businessInfo.subCraft || 'Unknown'}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"product" | translate}}</p>
                    <span>{{userDetailsInfo?.businessInfo.product || 'Unknown'}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="brand">
                    <p>{{"rawMatrial" | translate}}</p>
                    <span>{{userDetailsInfo?.businessInfo.rawMaterial || 'Unknown'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>


        </div>
        <div class="indicators">
          <button mat-button  id="menu_Id" [matMenuTriggerFor]="menu">
            <div class="d-flex align-items-center">
              <div class="bolts">
                <div class="d-flex">
                  <div class="yellow"></div>
                <div class="orange"></div>
                </div>
                <div class="d-flex">
                  <div class="green"></div>
                <div class="red"></div>
                </div>


              </div>
              <span>{{'color_indicators'|translate}}</span>
            </div>
            <i class="fa fa-chevron-down"></i>
          </button>
          <mat-menu class="indicators-menu" #menu="matMenu">
            <div class="row">
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-01.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-02.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-03.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-04.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-05.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-06.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-07.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-08.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-09.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-10.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-11.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-12.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-13.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-14.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-15.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="indicator">
                  <img alt="indicator" src="../../assets/images/pins/Atlas_s icon new pins-16.png">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
</div>
