
  <nav class="navbar navbar-expand-lg" [ngClass]="isScrolled ? 'navbar-inverse' : 'navbar-default'"
  [ngStyle]="checkedLang == 'en' ? enDiraction : arDiraction" >
    <div class="container-fluid">
      <a class="navbar-brand" [ngClass]="{'navItem-inverse': isScrolled}">
        <div *ngIf="isScrolled"><img src="assets/images/fav.png"> ATLAS HERAFY</div>
        <img *ngIf="!isScrolled" src="assets/images/Logo-f2 .png" class="w-100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <div class="d-flex mCenter">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" aria-current="page" [ngClass]="{'navItem-inverse': isScrolled}">{{ 'home' | translate }}</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  [ngClass]="{'navItem-inverse': isScrolled}"
             id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{ 'about' | translate }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/about">{{ 'aboutAtlas' | translate }}</a></li>
              <li><a class="dropdown-item" routerLink="/about-handcraft">{{ 'aboutHand' | translate }}</a></li>
              <li><a class="dropdown-item" routerLink="/about-drosos">{{ 'aboutDrosos' | translate }}</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us"  [ngClass]="{'navItem-inverse': isScrolled}">{{ 'contact' | translate }}</a>
          </li>
         </div>

          <div class="d-flex divJoin">
            <li class="nav-item">
              <button (click)="switchLanguage()" class="nav-link" [ngClass]="{'navItem-inverse': isScrolled}">
                 <i class="fa-solid fa-globe"></i> {{ 'lang' | translate }}</button>
            </li>

            <li class="nav-item">
              <button class="nav-link btnJoin" routerLink="/join-altas">{{ 'join' | translate }}</button>
            </li>
          </div>

        </ul>
      </div>
    </div>
</nav>

