.container-fluid{
    width: 100%;
    margin: 0;
}
.navbar{
    padding: 15px 6%;
    z-index: 55;
    width: 100%;
    position: fixed;
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand{
    color: #fff;
    font-size: 17px;
    padding: 0;
    display: block;
}

.navbar-brand img{
    width: 100%;
    height: 53px;
}

.mCenter{
    margin: 0 auto;
}


.divJoin{
   align-items: center;
   .nav-item{
    img{
      width: 40px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}


.nav-link{
    color: #fff;
    // font-weight: 500;
    font-size: 17px;
    margin: 0 10px;
    cursor: pointer;
    font-family: 'Trap-Black';
}

.nav-link.active{
    font-weight: bold;
    color: #0024B6;
}


.navbar-nav .nav-link.show{
    color: #fff;
}

.dropdown-menu .dropdown-item{
    cursor: pointer;
    font-family: 'Trap-Regular';
}

.btnJoin{
    background-color: #0024B6;
    color: #fff !important;
    border-radius: 7px;
    font-weight: 500;
    font-size: 13px;
    padding: 9px 22px;
    width: 100%;
}

.navbar-inverse{
    background-color: #fff;
    box-shadow: 0px 0px 4px #ddd;
}

.navbar-default{
    background-image: linear-gradient(180deg, #2e2d2d, transparent);
}

.navItem-inverse{
    color: #000 !important;
}


@media screen and (max-width: 992px) {
  .navbar-toggler{
    border-color: #000;
    &:focus{
      box-shadow: none;
    }
  }
    .navbar{
        padding: 15px 0;
        width: 100%;
        .container-fluid{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .navbar-brand{
            font-size: unset;
            img{
              width: 160px;
            }
          }
        }
    }


    .mCenter{
        flex-direction: column;
        text-align: center;
    }

    .divJoin{
        flex-direction: column;
        .nav-item{
          margin-bottom: 10px;
        }
     }
     .nav-link{
      color: #000;
     }
     .navbar-collapse{
      background-color: #fff;
    }
    .showMenu{background-color: #fff !important;background-image: none;}
}
