<div class="content" id="contentID">
    <div class="greenBox">
         <div class="green-slider">
          <h3>{{'green_crafts'|translate}}</h3>
          <owl-carousel-o [options]="customOptions">
            <ng-container>
              <ng-template carouselSlide>
                <div class="slide">
                  <div class="row">
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/badaraa.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/ape.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/ver.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green//flodo.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/kiliim.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/6.png">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <div class="row">
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/badaraa.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/ape.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/ver.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green//flodo.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/kiliim.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/6.png">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <div class="row">
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/badaraa.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/ape.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/ver.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green//flodo.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/kiliim.png">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="img-container">
                        <img src="../../../assets/images/green/6.png">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
         </div>
    </div>

    <div class="textBox">
        <h5>{{ 'greenTitle' | translate }}</h5>
        <p>{{ 'greencontent1' | translate }}</p>

        <p class="w-100"> {{ 'greencontent2' | translate }} </p>
    </div>
</div>
