<div class="content" id="contentID">
    <div class="green-slider">
      <owl-carousel-o [options]="customOptions">
        <ng-container>
          <ng-template carouselSlide>
            <div class="green-content">
              <h3>{{ 'spotlight' | translate }}</h3>
              <h2>{{ 'green' | translate }}</h2>
              <h4>{{ 'crafts' | translate }}<img src="assets/images/earth-globe.png"></h4>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <h3>{{'green_crafts'|translate}}</h3>
              <div class="row">
                <div class="col-4">
                  <a class="img-container" href="https://baddara.com/" target="_blank">
                    <img src="../../../assets/images/green/badaraa.png">
                  </a>
                </div>
                <div class="col-4">
                  <a class="img-container" href="https://apeegypt.shopsettings.com/" target="_blank">
                    <img src="../../../assets/images/green/ape.png">
                  </a>
                </div>
                <div class="col-4">
                  <a class="img-container" href="http://verynile.org/" target="_blank">
                    <img src="../../../assets/images/green/ver.png">
                  </a>
                </div>
                <div class="col-4">
                  <a class="img-container" href="https://fldo-eg.org/" target="_blank">
                    <img src="../../../assets/images/green//flodo.png">
                  </a>
                </div>
                <div class="col-4">
                  <a class="img-container" href="https://kiliim.com/" target="_blank">
                    <img src="../../../assets/images/green/kiliim.png">
                  </a>
                </div>
                <div class="col-4">
                  <a class="img-container" href="https://kendaka.co/  " target="_blank">
                    <img src="../../../assets/images/green/kendaka.png">
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <div class="textBox">
        <h5>{{ 'greenTitle1' | translate }} <br>{{'greenTitle2'|translate}}</h5>
        <p>{{ 'greencontent1' | translate }}</p>

        <p class="w-100"> {{ 'greencontent2' | translate }} </p>
    </div>
</div>
