<div class="footer">
    <div class="itemBox footLogo">
         <img src="assets/images/Group894.png">
         <p>{{ 'footerP1' | translate }} <br>
            {{ 'footerP2' | translate }}</p>
    </div>

    <div class="itemBox">
       <ul>
           <li><a routerLink="/home">{{ 'home' | translate }}</a></li>
           <li><a routerLink="/map">{{ 'atlasMap' | translate }}</a></li>
           <li><a routerLink="/contact-us">{{ 'contact' | translate }}</a></li>
       </ul>
   </div>

    <div class="itemBox">
        <ul>
            <li><a routerLink="/about">{{ 'atlasHerafy' | translate }}</a></li>
            <li><a routerLink="/about-drosos">{{ 'drososFoundation' | translate }}</a></li>
            <li><a routerLink="/about-handcraft">{{ 'HandInEgy' | translate }}</a></li>
        </ul>
    </div>

    <div class="itemBox joinBox">
        <button routerLink="/join-altas">{{ 'join' | translate }}</button>
        <h4>{{ 'followAtlas' | translate }}</h4>
        <div class="icons">
            <a href="https://www.facebook.com/atlasherafyofficial" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/atlasherafy" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/@atlasherafy3217" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://twitter.com/AtlasHerafy" target="_blank"><i class="fa-brands fa-twitter"></i></a>

        </div>
    </div>
<br>
    <hr>

    <p class="copyRight">&copy; {{ 'copyRight' | translate }}</p>

</div>
