.gallary{
  width: 700px;
  height: 400px;
  owl-carousel-o{
    width: 100%;
    height: 100%;
    display: block;
    img{
      width: 700px;
      height: 400px;
      min-width: 700px;
      object-fit: cover;
    }
  }
  .no-img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
  }
}
