<div class="content" id="contentID">
     <div class="imgBox">
        <!-- <iframe width="95%" height="100%"
         src="https://www.youtube.com/embed/FrqA0TpPB3E?si=9Qo0Wq6-gYjxsQjW"
         title="YouTube video player" frameborder="0" allowfullscreen>
        </iframe> -->

        <button class="btnShow"><i class="fa-solid fa-expand"></i></button>
        <button class="btnVideo"><i class="fa-brands fa-youtube"></i></button>
     </div>

     <div class="textBox">
        <h3>{{ 'whyAtlas' | translate }}</h3>
        <p>{{ 'whyContent' | translate }}</p>

        <h6>{{ 'altasNum' | translate }}</h6>
        <div class="icons">
            <div class="iconItem">
                 <img src="assets/images/pottery.png" class="imgIcon">
                 <div>
                    <h3>1,700+</h3>
                    <span>Skillful craftspeople</span>
                 </div>
            </div>
            <div class="iconItem">
                <img src="assets/images/location.png" class="imgIcon">
                <div>
                   <h3 class="blueText">315</h3>
                   <span>Villages in 27 governorates</span>
                </div>
           </div>
           <div class="iconItem">
            <img src="assets/images/Group4054.png" class="imgIcon">
            <div>
               <h3 class="blueRed">66</h3>
               <span>Distinctive Crafts</span>
            </div>
       </div>
       <div class="iconItem">
        <img src="assets/images/woman.png" class="imgIcon">
        <div>
           <h3 class="blueGreen">48%</h3>
           <span>Crafts Women</span>
        </div>
   </div>
        </div>
     </div>
</div>
