<div class="content">
    <div class="about-atlas">
        <h4>{{ 'join2' | translate }}</h4>
        <h2>{{ 'atlas' | translate }}</h2>
    </div>

    <div class="containForms">
        <div class="left"></div>
        <div class="right"></div>
        <div class="bottom"></div>

        <div class="formBox">
            <button (click)="toggleCrafter()" [ngClass]="carfterVisible ? 'btnActive' : 'btnNonActive'">
               {{ 'Nominatecrafter' | translate }}</button>
            <button (click)="toggleRegister()" [ngClass]="registerVisible ? 'btnActive' : 'btnNonActive'">
               {{ 'RegisterSelf' | translate }}</button>

            <div [@contentAnimation]="carfterVisible ? 'visible' : 'hidden'" class="divFormData">

                  <h4>{{ 'PutFriend' | translate }}</h4>

                  <form [formGroup]="nominateForm" class="detailsBox">
                      <div class="personalInfo">
                        <h6>{{ 'YourInfo' | translate }}</h6>
                        <div class="form-group mb-4 row borderBottom">
                           <div class="col-sm-12">
                             <input type="text" formControlName="nominee_Name" placeholder="{{ 'FullName' | translate }}" class="form-control">
                           </div>
                        </div>

                        <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-12">
                                <input type="text" formControlName="nominee_Number" placeholder="{{ 'phoneNumber' | translate }}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-12">
                                <input type="text" formControlName="nominee_Job" placeholder="{{ 'subject' | translate }}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-12">
                                <input type="email" formControlName="nominee_Email" placeholder="{{ 'email' | translate }}" class="form-control">
                            </div>
                         </div>

                      </div>

                      <div class="nomineeInfo">
                        <h6>{{ 'NomineeInfo' | translate }}</h6>
                        <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-12">
                                <input type="text" formControlName="nominee_Craft" placeholder="{{ 'Craft' | translate }}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-12">
                                <input type="text" formControlName="nominee_Craft_Name" placeholder="{{ 'CraftpersonName' | translate }}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-12">
                                <input type="text" formControlName="business_Number" placeholder="{{ 'BusinesssPhone' | translate }}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-12">
                                <input type="text" formControlName="website_Social_Link" placeholder="{{ 'WebsiteLinks' | translate }}" class="form-control">
                            </div>
                         </div>

                      </div>
                  </form>
                  <button [disabled]="nominateForm.invalid" (click)="submitNominate()" class="btnSubmit">{{ 'submit' | translate }}</button>
            </div>

            <div [@contentAnimation]="registerVisible ? 'visible' : 'hidden'" class="divFormData">

                <h4>{{'personalInfoHead'|translate}}</h4>

                <form [formGroup]="registerForm" class="detailsBox">
                    <div class="personalInfo box2">
                        <h6>{{'personal_information'|translate}}</h6>
                        <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="full_Name" placeholder="{{'full_name'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="phone_Number" placeholder="{{'phone_number'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="job" placeholder="{{'job'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-10">
                                <input type="email" formControlName="email" placeholder="{{'email'|translate}}" class="form-control">
                            </div>
                         </div>

                    </div>

                    <div class="businessInfo">
                        <h6 class="w-100">{{'business_information'|translate}}</h6>

                        <div class="w-45">
                        <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="brand_Name" placeholder="{{'brand_name'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <select class="form-select" formControlName="market">
                                    <option selected disabled>{{'market'|translate}}</option>
                                    <option [value]="'Egyptian'">{{'export'|translate}}</option>
                                    <option [value]="'Expert'">{{'local'|translate}}</option>
                                    <option [value]="'EgyptianExpert'">{{'localAndexport'|translate}}</option>
                                </select>
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="craft_Type" placeholder="{{'craft'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                              <select class="form-select" formControlName="heritage">
                                <option selected disabled>{{'heritage'|translate}}</option>
                                <option *ngFor="let heritage of heritages" [value]="heritage">{{heritage}}</option>
                              </select>
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="product_You_Create" placeholder="{{'product_your_create'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="how_Many_Employee" placeholder="{{'number_of_employee'|translate}}" class="form-control">
                            </div>
                         </div>
                        </div>

                        <div class="w-45">
                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <select class="form-select" formControlName="business_Type">
                                    <option selected disabled>{{'business_type'|translate}}</option>
                                    <option  *ngFor="let businessType of businessTypes" [value]="businessType">{{businessType}}</option>
                                </select>
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="business_Address" placeholder="{{'business_address'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="business_Number" placeholder="{{'business_number'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="email" formControlName="business_Email" placeholder="{{'business_email'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="social_Media" placeholder="{{'social_media'|translate}}" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">

                            <div class="col-sm-12">
                                <input type="text" formControlName="web_Site" placeholder="{{'website'|translate}}" class="form-control">
                            </div>
                         </div>
                        </div>
                    </div>
                  </form>
                <button [disabled]="registerForm.invalid" (click)="submitBusiness()" class="btnSubmit">{{'submit'|translate}}</button>
            </div>


        </div>
    </div>
</div>
