.content .about-atlas{
    background-image: url('../../assets/images/Mask-group-join.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 19% 7%;
    padding-bottom: 2%;
    height: 550px;
}

.about-atlas h4{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 45px;
    font-family: 'Trap-Bold';
}

.about-atlas h2{
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Trap-Bold';
}

.containForms{
    width: 100%;
    position: relative;
    height: 780px;
}

.left{
    position: absolute;
    top: 0;
    left: 0%;
    width: 22%;
    height: 26%;
    background-image: url('../../assets/images/left-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.right{
    position: absolute;
    top: 4%;
    right: 0%;
    width: 17%;
    height: 49%;
    background-image: url('../../assets/images/right-bg.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bottom{
    position: absolute;
    bottom: -9%;
    right: 0%;
    width: 49%;
    height: 29%;
    z-index: -1;
    background-image: url('../../assets/images/bottom-bg.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.formBox{
    width: 85%;
    position: relative;
    margin: 7% auto;
    margin-left: 7%;
    padding: 2rem 1.5rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 3px #ddd;
    font-family: 'Trap-Medium';
}


.formBox h4{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 30px;
}


.formBox p{
    color: #9b9999;
    font-size: 12px;
}


.detailsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detailsBox input,
.detailsBox select{
    border: none;
    border-radius: 0;
    // padding-left: 0;
    outline: none;
    font-size: 12px;
    background-color: transparent;
}


.noPadding{
    padding-right: 0px;
}

.borderBottom{
    border-bottom: 1px solid #2F2C39;
}




.detailsBox .personalInfo{
    width: 45%;
}

.detailsBox .nomineeInfo{
    width: 45%;
}

.detailsBox .box2{
    width: 30%;
}

.detailsBox .businessInfo{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.businessInfo input,
.businessInfo select{
    width: 100%;
    opacity: 0.7;
}

.formBox .btnSubmit{
    margin: 2rem auto;
    margin-left: 42.5%;
    padding: 8px 6%;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #0024b6;
    overflow: hidden !important;
}

.detailsBox h6{
    font-family: 'Trap-Black';
    font-size: 13px;
}
.detailsBox .row{
    margin-right: 0px !important;
}
.btnActive{
    border: none;
    margin-right: 20px;
    color: #fff;
    background-color: #F77475;
    padding: 7px 30px;
    border-radius: 9px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.btnNonActive{
    border: 1px solid #F77475;
    margin-right: 20px;
    color: #000;
    background-color: transparent;
    padding: 7px 30px;
    border-radius: 9px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.divFormData{
 // overflow: unset !important;
}
.arDiraction{
    direction: rtl;
}

.arDiraction .containForms .formBox{
    margin-right: 7%;
}

.arDiraction .containForms .formBox .divFormData{
    overflow: hidden !important;
}

.enDiraction{
    direction: ltr;
}

.w-45{
  width: 45%;
}

@media screen and (max-width: 600px) {

    .content .about-atlas{
        padding: 40% 6%;
        height: 288px;
    }

    .about-atlas h4{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .about-atlas h2{
        font-size: 3rem;
    }

    .formBox{
        padding: 1rem;
    }

    .btnActive,
    .btnNonActive{
    padding: 5px 11px;
    font-size: 10px;
  }

  .containForms{
    height: 100%;
  }


  .detailsBox .personalInfo,
.detailsBox .nomineeInfo{
    width: 98%;
}


.detailsBox .businessInfo{
    width: 98%;
}

}

.formBox .btnSubmit[disabled]{
  background-color: #cccccc;
  cursor: no-drop;
}
