<div class="content">
    <div class="about-atlas">
        <h4>{{ 'join2' | translate }}</h4>
        <h2>{{ 'atlas' | translate }}</h2>
    </div>

    <div class="containForms">
        <div class="left"></div>
        <div class="right"></div>
        <div class="bottom"></div>

        <div class="formBox">
            <button (click)="toggleCrafter()" [ngClass]="carfterVisible ? 'btnActive' : 'btnNonActive'">
               {{ 'Nominatecrafter' | translate }}</button>
            <button (click)="toggleRegister()" [ngClass]="registerVisible ? 'btnActive' : 'btnNonActive'">
               {{ 'RegisterSelf' | translate }}</button>

            <div [@contentAnimation]="carfterVisible ? 'visible' : 'hidden'" class="divFormData">

                  <h4>{{ 'PutFriend' | translate }}</h4>

                  <form [formGroup]="nominateForm" class="detailsBox">
                      <div class="personalInfo">
                        <h6>{{ 'YourInfo' | translate }}</h6>
                        <div class="form-group mb-4 row borderBottom">
                           <div class="col-sm-2">
                              <label class="form-label">{{ 'FullName' | translate }}</label>
                           </div>
                           <div class="col-sm-10">
                             <input type="text" formControlName="nominee_Name" class="form-control">
                           </div>
                        </div>

                        <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-4">
                               <label class="form-label">{{ 'phoneNumber' | translate }}</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" formControlName="nominee_Number" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-2">
                               <label class="form-label">{{ 'subject' | translate }}</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" formControlName="nominee_Job" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-3">
                               <label class="form-label">{{ 'email' | translate }}</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="email" formControlName="nominee_Email" class="form-control">
                            </div>
                         </div>

                      </div>

                      <div class="nomineeInfo">
                        <h6>{{ 'NomineeInfo' | translate }}</h6>
                        <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-2">
                               <label class="form-label">{{ 'Craft' | translate }}</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" formControlName="nominee_Craft" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-4">
                               <label class="form-label">{{ 'CraftpersonName' | translate }}</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" formControlName="nominee_Craft_Name" class="form-control">
                            </div>
                         </div>



                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-5">
                               <label class="form-label">{{ 'BusinesssPhone' | translate }}</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" formControlName="business_Number" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-4">
                               <label class="form-label">{{ 'WebsiteLinks' | translate }}</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" formControlName="website_Social_Link" class="form-control">
                            </div>
                         </div>

                      </div>
                  </form>
                  <button [disabled]="nominateForm.invalid" (click)="submitNominate()" class="btnSubmit">{{ 'submit' | translate }}</button>
            </div>

            <div [@contentAnimation]="registerVisible ? 'visible' : 'hidden'" class="divFormData">

                <h4>{{'personalInfoHead'|translate}}</h4>

                <form [formGroup]="registerForm" class="detailsBox">
                    <div class="personalInfo box2">
                        <h6>{{'personal_information'|translate}}</h6>
                        <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-3">
                               <label class="form-label">{{'full_name'|translate}}</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" formControlName="full_Name" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-6">
                               <label class="form-label">{{'phone_number'|translate}} | +2</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" formControlName="phone_Number" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-2">
                               <label class="form-label">{{'job'|translate}}</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" formControlName="job" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-2">
                               <label class="form-label">{{'email'|translate}}</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="email" formControlName="email" class="form-control">
                            </div>
                         </div>

                    </div>

                    <div class="businessInfo">
                        <h6 class="w-100">{{'business_information'|translate}}</h6>

                        <div>
                        <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-4">
                               <label class="form-label">{{'brand_name'|translate}}</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" formControlName="brand_Name" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-2">
                               <label class="form-label">{{'market'|translate}}</label>
                            </div>
                            <div class="col-sm-10">
                                <select class="form-select" formControlName="market">
                                    <option [value]="'Egyptian'">{{'export'|translate}}</option>
                                    <option [value]="'Expert'">{{'local'|translate}}</option>
                                    <option [value]="'EgyptianExpert'">{{'localAndexport'|translate}}</option>
                                </select>
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-2">
                               <label class="form-label">{{'craft'|translate}}</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" formControlName="craft_Type" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-3">
                               <label class="form-label">{{'heritage'|translate}}</label>
                            </div>
                            <div class="col-sm-9">
                              <select class="form-select" formControlName="heritage">
                                <option *ngFor="let heritage of heritages" [value]="heritage">{{heritage}}</option>
                              </select>
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-6">
                               <label class="form-label">{{'product_your_create'|translate}}</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" formControlName="product_You_Create" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-7">
                               <label class="form-label">{{'number_of_employee'|translate}}</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" formControlName="how_Many_Employee" class="form-control">
                            </div>
                         </div>
                        </div>

                        <div>
                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-5">
                               <label class="form-label">{{'business_type'|translate}}</label>
                            </div>
                            <div class="col-sm-7">
                                <select class="form-select" formControlName="business_Type">
                                    <option  *ngFor="let businessType of businessTypes" [value]="businessType">{{businessType}}</option>
                                </select>
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-7">
                               <label class="form-label">{{'business_address'|translate}}</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" formControlName="business_Address" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-7">
                               <label class="form-label">{{'business_number'|translate}} | +2</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" formControlName="business_Number" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-5">
                               <label class="form-label">{{'business_email'|translate}}</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="email" formControlName="business_Email" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-5">
                               <label class="form-label">{{'social_media'|translate}}</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" formControlName="social_Media" class="form-control">
                            </div>
                         </div>

                         <div class="form-group mb-4 row borderBottom">
                            <div class="col-sm-5">
                               <label class="form-label">{{'website'|translate}}</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" formControlName="web_Site" class="form-control">
                            </div>
                         </div>
                        </div>
                    </div>
                  </form>
                <button [disabled]="registerForm.invalid" (click)="submitBusiness()" class="btnSubmit">{{'submit'|translate}}</button>
            </div>


        </div>
    </div>
</div>
