/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




@font-face{
    font-family: 'Trap-Bold';
    src: url('assets/fonts/Trap-Bold.otf');
}

@font-face{
    font-family: 'ToshB-Black';
    src: url('assets/fonts/ToshB-Black.ttf');
}

@font-face{
    font-family: 'ToshB-Light';
    src: url('assets/fonts/ToshB-Light.ttf');
}

@font-face{
    font-family: 'Trap-Black';
    src: url('assets/fonts/Trap-Black.otf');
}

@font-face{
    font-family: 'Trap-ExtraBold';
    src: url('assets/fonts/Trap-ExtraBold.otf');
}

@font-face{
    font-family: 'Trap-Light';
    src: url('assets/fonts/Trap-Light.otf');
}


@font-face{
    font-family: 'Trap-Medium';
    src: url('assets/fonts/Trap-Medium.otf');
}

@font-face{
    font-family: 'Trap-Regular';
    src: url('assets/fonts/Trap-Regular.otf');
}

@font-face{
    font-family: 'Trap-SemiBold';
    src: url('assets/fonts/Trap-SemiBold.otf');
}
@font-face{
  font-family: 'din-regular';
  src: url('assets/fonts/Din-Next-Arabic-Regular.otf');
}

.toast-container{
  position: fixed;
}
.indicators-menu{
  width: 320px;
  max-width: unset !important;
  border-top: 2px solid #000;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  padding: 10px 20px;
  .indicator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    cursor: pointer;
    img{
      width: 25px;
    }
    span{
      font-size: 15px;
    }
  }
}
html[dir="rtl"]{
  body{font-family: 'din-regular' !important;}
  .indicators-menu{
    .indicator{
      flex-direction: row-reverse;
    }
  }
  .content{
    .indicators{
      right: unset !important;
      left: 7%;
    }
    .explore{
      left: unset !important;
      right: 7%;
      .explore-content{
        .crafts{
          .craft{
            .details{
              .type{
                ul{
                  li{
                    &::after{
                      left: unset !important;
                      right: -15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
