/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face{
    font-family: 'Trap-Bold';
    src: url('assets/fonts/Trap-Bold.otf');
}

@font-face{
    font-family: 'ToshB-Black';
    src: url('assets/fonts/ToshB-Black.ttf');
}

@font-face{
    font-family: 'ToshB-Light';
    src: url('assets/fonts/ToshB-Light.ttf');
}

@font-face{
    font-family: 'Trap-Black';
    src: url('assets/fonts/Trap-Black.otf');
}

@font-face{
    font-family: 'Trap-ExtraBold';
    src: url('assets/fonts/Trap-ExtraBold.otf');
}

@font-face{
    font-family: 'Trap-Light';
    src: url('assets/fonts/Trap-Light.otf');
}


@font-face{
    font-family: 'Trap-Medium';
    src: url('assets/fonts/Trap-Medium.otf');
}

@font-face{
    font-family: 'Trap-Regular';
    src: url('assets/fonts/Trap-Regular.otf');
}

@font-face{
    font-family: 'Trap-SemiBold';
    src: url('assets/fonts/Trap-SemiBold.otf');
}
@font-face{
  font-family: 'din-regular';
  src: url('assets/fonts/Din-Next-Arabic-Regular.otf');
}

.toast-container{
  position: fixed;
}
.indicators-menu{
  width: 320px;
  max-width: unset !important;
  border-top: 2px solid #000;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  padding: 10px 20px;
  .indicator{
    display: flex;
    align-items: center;
    padding: 4px 0;
    cursor: pointer;
    height: 38px;
    img{
      width: 25px;
    }
    span{
      font-size: 13px;
      margin-inline-start: 5px;
      line-height: 14px;
    }
  }
}
html[dir="rtl"]{
  body{font-family: 'din-regular' !important;overflow-x: hidden !important;}
  h1,h2,h3,h4,h5,h6{
    font-family: 'din-regular' !important;
  }
  .dropdown-menu{
    text-align: start;
  }
  .footer{
    font-family: 'din-regular' !important;
  }
  .mat-typography{
    font-family: 'din-Regular' !important;
  }
  app-navabr{
    #navbarSupportedContent{
      .nav-link{
        font-family: 'din-Regular' !important;
      }
    }
  }
  .indicators-menu{
    .indicator{
      flex-direction: row-reverse;
      span{
        margin-inline-start: 0px;
        margin-inline-end: 5px;
        text-align: end;
      }
    }
  }
  .content{
    .explore{
      .explore-content{
        select{
          background-position: left 1rem center !important;
        }
        .crafts{
          .craft{
            .details{
              .type{
                ul{
                  li{
                    &::after{
                      left: unset !important;
                      right: -15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .crafter-details .craft-info .craft-about .actions button, .crafter-details .craft-info .craft-about .actions a{
    font-size: 13px !important;
    padding: 10px !important;
  }
  .greenBox h4{
    margin-top: 40px;
  }
  app-spot-light{
    .green-content{
      h4{margin-top: 15px;}
    }
    #contentID{
      .textBox{
        background: linear-gradient(-90deg,rgba(0, 0, 0, 0.9) -12.78%, rgba(0, 0, 0, 0.1) 70.69%), url('./assets/images/_DSC82391.png') !important;
      }
    }
  }
  .form-select{
    .slidImg{
      direction: initial !important;
    }
  }
  .mat-h1, .mat-headline-5, .mat-typography .mat-h1, .mat-typography .mat-headline-5, .mat-typography h1{
    line-height: 72px !important;
  }
  .textBox p{
    line-height: normal;
  }
  .content .textBox h3{
    margin-bottom: 20px !important;
  }
  app-why-atlas .content .textBox h3 {margin-bottom: 15px !important;}
  app-why-atlas .content .textBox .iconItem h3{margin-bottom: 0px !important;}
  app-spot-light .green-slider owl-carousel-o{
    direction: ltr !important;
  }
}
.gallary{
  .owl-dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    .owl-dot.active{
      span{
        background: #00187b;
      }
    }
  }
}
.green-slider{
  .owl-stage{
    display: flex;
  }
  .owl-theme{
    .owl-dots{
      position: absolute;
      width: 100%;
      bottom: 0;
      margin-top: 0px;
      .owl-dot{
        span{
          background: transparent;
          border: 1px solid #fff;
        }
        &.active{
          span{background-color: #fff;}
        }
      }
    }
  }
}
.mat-typography{
  font-family: 'Trap-Regular' !important;
}
.searchBox .mdc-text-field--filled{
  background-color: transparent !important;
  border: 1px solid #fff;
}
.searchBox .mdc-text-field--filled .mdc-floating-label{color: #fff;}
.searchBox .mat-mdc-select-arrow{color: #fff;}
.greenBox .owl-stage{
  height: 100%;
}
.greenBox .owl-stage .owl-item{height: 100%;}
.green-slider .owl-stage .owl-item.active .green-content{width: 101% !important;}
app-about-drosos{
  .content{overflow: hidden;}
  owl-carousel-o{
    direction: initial;
  }
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: #0024b6;
}
.searchBox .mat-mdc-form-field{max-width: 195px;}
.form-select{
  padding: .375rem .75rem !important;
}
