<div class="content">
  <div class="textBox" id="textBox">
    <h3>{{ 'wlecome' | translate }}</h3>
    <h1>{{ 'atlas' | translate }}</h1>
    <h5>{{ 'subTitle' | translate }}</h5>
  </div>

    <div class="searchBox">
         <h3>{{'explore_handicrafts'|translate}}</h3>
         <!-- <h6>{{'specify_craft'|translate}}</h6> -->

         <div class="box">
             <div class="boxItem">
                <mat-form-field>
                    <mat-label>{{'selet_craft'|translate}}</mat-label>
                    <mat-select (selectionChange)="onFilterOption()" [(ngModel)]="filterModel.mainCraft">
                      <mat-option [value]="null">All</mat-option>
                      <ng-container *ngIf="crafts.length > 0">
                        <mat-option *ngFor="let craft of crafts" [value]="craft">{{craft}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>

             </div>

             <div class="boxItem">
                <mat-form-field>
                    <mat-label>{{'select_subcraft'|translate}}</mat-label>
                    <mat-select (selectionChange)="onFilterOption()" [(ngModel)]="filterModel.subCraft">
                      <mat-option [value]="null">All</mat-option>
                      <ng-container *ngIf="subCrafts.length > 0">
                        <mat-option *ngFor="let subCraft of subCrafts" [value]="subCraft">{{subCraft}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
             </div>

             <div class="boxItem">
                <mat-form-field>
                    <mat-label>{{'select_location'|translate}}</mat-label>
                    <mat-select (selectionChange)="onFilterOption()" [(ngModel)]="filterModel.governorate">
                      <mat-option [value]="null">All</mat-option>
                      <ng-container *ngIf="cities.length > 0">
                        <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
             </div>

             <div class="boxItem">
                <mat-form-field>
                    <mat-label>{{'select_heritage'|translate}}</mat-label>
                    <mat-select (selectionChange)="onFilterOption()" [(ngModel)]="filterModel.heritage">
                      <mat-option [value]="null">All</mat-option>
                      <ng-container *ngIf="heritages.length > 0">
                        <mat-option *ngFor="let heritage of heritages" [value]="heritage">{{heritage}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
             </div>

             <div>
                <button class="btnSearch" (click)="search()">{{'search'|translate}}</button>
             </div>
         </div>

         <hr>

         <h5>{{'not_looking_for_specific'|translate}} <a routerLink="/map">{{'explore'|translate}}</a></h5>
    </div>
</div>

<div class="bgCotainer">
  <div class="left"></div>
  <div class="right"></div>
  <div class="longLeft"></div>
  <div class="bottom"></div>
  <app-why-atlas></app-why-atlas>
  <app-spot-light></app-spot-light>
  <app-how-to-use></app-how-to-use>
</div>
