<div class="content">
  <div class="textBox" id="textBox">
    <h3>{{ 'wlecome' | translate }}</h3>
    <h1>{{ 'atlas' | translate }}</h1>
    <h5>{{ 'subTitle' | translate }}</h5>
  </div>

    <div class="searchBox">
         <h3>Explore handicrafts in Egypt</h3>
         <h6>please Specify your Craft</h6>

         <div class="box">
             <div class="boxItem">
                <mat-form-field>
                    <mat-label>Select Craft</mat-label>
                    <mat-select (selectionChange)="onFilterOption()" [(ngModel)]="filterModel.mainCraft">
                      <mat-option value="moha">All</mat-option>
                      <ng-container *ngIf="crafts.length > 0">
                        <mat-option *ngFor="let craft of crafts" [value]="craft">{{craft}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>

             </div>

             <div class="boxItem">
                <mat-form-field>
                    <mat-label>Select Sub Craft</mat-label>
                    <mat-select (selectionChange)="onFilterOption()" [(ngModel)]="filterModel.subCraft">
                      <mat-option value="asd">All</mat-option>
                      <ng-container *ngIf="subCrafts.length > 0">
                        <mat-option *ngFor="let subCraft of subCrafts" [value]="subCraft">{{subCraft}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
             </div>

             <div class="boxItem">
                <mat-form-field>
                    <mat-label>Select Location</mat-label>
                    <mat-select (selectionChange)="onFilterOption()" [(ngModel)]="filterModel.governorate">
                      <mat-option [value]="null">All</mat-option>
                      <ng-container *ngIf="crafts.length > 0">
                        <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
             </div>

             <div class="boxItem">
                <mat-form-field>
                    <mat-label>Select heritage</mat-label>
                    <mat-select (selectionChange)="onFilterOption()" [(ngModel)]="filterModel.heritage">
                      <mat-option [value]="null">All</mat-option>
                      <ng-container *ngIf="heritages.length > 0">
                        <mat-option *ngFor="let heritage of heritages" [value]="heritage">{{heritage}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
             </div>

             <div>
                <button class="btnSearch" (click)="search()">Search</button>
             </div>
         </div>

         <hr>

         <h5>Not looking for anything specific? <a>Explore</a></h5>
    </div>
</div>

<div class="bgCotainer">
  <div class="left"></div>
  <div class="right"></div>
  <div class="longLeft"></div>
  <div class="bottom"></div>
  <app-why-atlas></app-why-atlas>
  <app-spot-light></app-spot-light>
  <app-how-to-use></app-how-to-use>
</div>
